@font-face {
	font-family: 'Inter';
	src: url('../assets/Inter\ Web/Inter-Light.woff2'); 
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url("../assets/Inter\ Web/Inter-Regular.woff2");
	font-weight: 400;
	font-style: normal;	
}

@font-face {
	font-family: 'Inter';
	src: url("../assets/Inter\ Web/Inter-Bold.woff2");
	font-weight: 500;
	font-style: normal;	
}