@font-face {
	font-family: 'Diatype';
	src: url('../assets/font/ABCDiatypeEdu-Light.woff2'); 
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Diatype';
	src: url("../assets/font/ABCDiatypeEdu-Regular.woff2");
	font-weight: 400;
	font-style: normal;	
}

@font-face {
	font-family: 'Inter';
	src: url("../assets/font/ABCDiatypeEdu-Bold.woff2");
	font-weight: 500;
	font-style: normal;	
}