body {
	background-color: #0E0E1B;
	color: #fff;
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	padding: 2rem;
}

/* Flexbox: */
.page-wrapper {
	display: flex;
	gap: 2rem;
	justify-content: flex-start;
	flex-flow: row nowrap;
	padding: 1.5rem;
}

.column1 {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.column2 {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

/* h1: */
h1 {
	font-family: Inter, sans-serif;
	font-weight: 500;
}

/* Select element: */
  .select-selected {
	background-color: #0E0E1B;
 }
 
 .select-selected:after {
	position: absolute;
	content: "";
	top: 1rem;
	right: 0.5rem;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #E39600 transparent transparent transparent;
 }
 
 .select-selected,.select-arrow-active:after {
	border-color: transparent transparent #E39600 transparent;
	top: 6px;
 }
 
 .select-items div,.select-selected {
	color: #ffffff;
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
 }
 
 .select-items {
	position: absolute;
	background-color: #0E0E1B;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
 }
 
 .select-hide {
	display: none;
 }
 
 .select-items div:hover, .same-as-selected {
	background-color: #171927;
	border-radius: 0.25;
 }
 
/* Ticket quantity selecter: */
 .counter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	padding-left: 1rem;

 }

 .up, .down {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.2rem;
	width: 2.2rem;
	background-color: #E39600;
	text-align: center;
	border-radius: 0.25rem;
 }

 .ticket-quantity {
	width: 20%;
	text-align: center;
 }

 /* Select date: */
.date {
	padding-left: 1.5rem;
}




/* Customer details: */
input {
	background-color: #171927;
}

.customer-details {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.custom-select {
	position: relative;
	width: 10rem;
 }
 
 .custom-select select {
	display: none;
 }

.required-star {
	color:#E39600;
}

/* Button: */
button {
	background-color: #E39600;
	width: 50%;
	text-align: center;
	margin-top: 0.25rem;
}

button:hover {
	background-color: #79520D;
}

.button-plus, .button-minus {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #E39600;
	height: 15px;
	width: 15px;
}	