@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@600&family=Libre+Baskerville&display=swap');

body {
	background-color: #0E0E1B;
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	padding: 50px;
}

.page-wrapper {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
	flex-flow: row nowrap;
	padding: 20px;
}

.column1 {
display: flex;
flex-flow: column nowrap;
gap: 10px;
}

.column2 {
display: flex;
flex-flow: column nowrap;
gap: 50px;
}



/* Accordion */
.accordion {
	border-radius: 4px;
	border: none;
	margin-bottom: 20px;
}

.accordion__toggle {
	text-align: left;
	width: 100%;
}

.accordion__toggle:hover {
	border: 1px solid #E39600;
}

.accordion__content {
	display: none;
}

.accordion__content--visible {
	display: block;
}

.accordion__content-hover:hover {
	background-color: #171927;
}

/* Customer details */
input {
	background-color: #171927;
}

/* Button */
button {
	background-color: #E39600;
}

button:hover {
	background-color: #79520D;
}

.button-plus, .button-minus {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #E39600;
	height: 15px;
	width: 15px;
}

.required-star {
	color:#E39600;
}

.customer-details {
	display: flex;
	flex-direction: column;
	gap: 10px;
}